{% extends 'base.html' %}
{% block content %}
        
        <!-- Portfolio Teasers
        ================================================== -->
        
        <div class="sixteen columns row divide notop">
            <h3 class="titledivider">The Blog.</h3>
            <div class="dividerline"></div>
        </div>
        
        <!-- Content Holder -->
        <div class="eleven columns row content left">
            
            <!-- Blogpost -->
            <div class="eleven columns row alpha blogpost">
                <div class="eleven columns alpha blogimage">
                    <div class="scalevid">
                        <iframe src="#video/24243147?title=0&amp;byline=0&amp;portrait=0" width="640" height="360"></iframe>
                    </div>
                </div>
                <div class="one column row alpha">
                    <div class="blogdate"><div class="day">12</div><span>Jan 2012</span></div>
                </div>
                <div class="nine columns row offset-by-one omega">
                    <div class="blogtitle"><h4><a href="#">Blogpost Video</a></h4></div>
                    <div class="postinfo"><span class="dateinfo">12 Jan 2012 &nbsp; | &nbsp; </span>in <a href="#">Company News</a> &nbsp; | &nbsp; by Admin &nbsp; | &nbsp; <a href="#">3 Comments</a></div>
                    <div class="postcontent">
                    
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                        
                        <blockquote>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </blockquote>
                        
                        <!-- 3 column -->
                        <div class="one_third">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p> 
                        </div>
                        <div class="one_third">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>     
                        </div>
                        <div class="one_third lastcolumn">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>     
                        </div><div class="clear"></div>
                        
                        <!-- Quotes -->
                        <div class="one_half">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                        </div>
                        <div class="one_half lastcolumn">
                            <ul class="square">
                                <li>Flexible Layout</li>
                                <li>Compatible with Common Browsers, Smartphones and Tablet Pc's</li>
                                <li>Background Images / Tiles</li>
                            </ul>
                        </div><div class="clear"></div>
                    
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            
            <!-- Post Comments -->
                    
            <div id="comments" class="eleven columns row alpha">
                <h3>Comments</h3>
                
                <!-- Comment -->
                <ul>
                
                    <!-- Reply -->
                    
                    <li class="depth-1">
                        <div class="commentwrap">
                            <div class="posterpic">
                                <img src="static/images/thumbs/gravatar.jpg" alt=""/>                              
                            </div>
                            <div class="author"><a href="#">John Doe</a></div>
                            <div class="timestamp">April 20th, 2011 at 14:50</div><div class="clear"></div>
                            <div class="postertext">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>            
                            </div>
                            <div class="replylink"><a href="#" class="link">Reply</a></div><div class="clear"></div>
                        </div>
                    </li>
                    
                    <!-- Reply -->
                    
                    <li class="depth-2">
                        <div class="commentwrap">
                            <div class="posterpic">
                                <img src="static/images/thumbs/gravatar.jpg" alt=""/>                              
                            </div>
                            <div class="author"><a href="#">John Doe</a></div>
                            <div class="timestamp">April 20th, 2011 at 14:50</div><div class="clear"></div>
                            <div class="postertext">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>            
                            </div>
                            <div class="replylink"><a href="#" class="link">Reply</a></div><div class="clear"></div>
                        </div>
                    </li>
                    
                    <!-- Reply -->
                    
                    <li class="depth-3">
                        <div class="commentwrap">
                            <div class="posterpic">
                                <img src="static/images/thumbs/gravatar.jpg" alt=""/>                              
                            </div>
                            <div class="author"><a href="#">John Doe</a></div>
                            <div class="timestamp">April 20th, 2011 at 14:50</div><div class="clear"></div>
                            <div class="postertext">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>            
                            </div>
                            <div class="replylink"><a href="#" class="link">Reply</a></div><div class="clear"></div>
                        </div>
                    </li>
                    
                    <!-- Reply -->
                    
                    <li class="depth-4">
                        <div class="commentwrap">
                            <div class="posterpic">
                                <img src="static/images/thumbs/gravatar.jpg" alt=""/>                              
                            </div>
                            <div class="author"><a href="#">John Doe</a></div>
                            <div class="timestamp">April 20th, 2011 at 14:50</div><div class="clear"></div>
                            <div class="postertext">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>            
                            </div>
                            <div class="replylink"><a href="#" class="link">Reply</a></div><div class="clear"></div>
                        </div>
                    </li>
                    
                    <!-- Reply -->
                    
                    <li class="depth-5">
                        <div class="commentwrap">
                            <div class="posterpic">
                                <img src="static/images/thumbs/gravatar.jpg" alt=""/>                              
                            </div>
                            <div class="author"><a href="#">John Doe</a></div>
                            <div class="timestamp">April 20th, 2011 at 14:50</div><div class="clear"></div>
                            <div class="postertext">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>            
                            </div>
                            <div class="replylink"><a href="#" class="link">Reply</a></div><div class="clear"></div>
                        </div>
                    </li>
                    
                    <br style="clear: left;"/>
                    
                </ul>
                
                <div class="clear"></div>
            </div>
            
            <!-- Comment Form -->
                    
            <div id="respond">
                <h3>Leave a Reply</h3>
                <form id="replyform" method="post" action="#">
                    <input type="text" name="name" id="reply_name" class="requiredfield" onFocus="if(this.value == 'Name *') { this.value = ''; }" onBlur="if(this.value == '') { this.value = 'Name *'; }" value="Name *"/>
                            
                    <input type="text" name="email" id="reply_email" class="requiredfield" onFocus="if(this.value == 'Email *') { this.value = ''; }" onBlur="if(this.value == '') { this.value = 'Email *'; }" value="Email *"/>
                    <input type="text" name="website" id="reply_website" class="last" onFocus="if(this.value == 'Website') { this.value = ''; }" onBlur="if(this.value == '') { this.value = 'Website'; }" value="Website"/>
                    <textarea name="message" id="reply_message" class="requiredfield" onFocus="if(this.value == 'Message *') { this.value = ''; }" onBlur="if(this.value == '') { this.value = 'Message *'; }">Message *</textarea>
                    <button type="submit" name="send">Submit Comment</button>
                </form>
            </div>
 
            <div class="clear"></div>
        </div>
        
       <!-- Sidebar
        ================================================== -->

        <div class="four columns sidebar offset-by-one content">
            
            <div class="widget">
                <h5>Latest Projects</h5>
                <div class="widget_portfolio">
                    <ul>
                        <li class="clearfix"><a href="#" class="borderhover"><img src="static/images/thumbs/pop_folio1.jpg" alt="" /></a></li>
                        <li class="clearfix"><a href="#" class="borderhover"><img src="static/images/thumbs/pop_folio2.jpg" alt="" /></a></li>
                        <li class="clearfix"><a href="#" class="borderhover"><img src="static/images/thumbs/pop_folio3.jpg" alt="" /></a></li>
                        <li class="clearfix"><a href="#" class="borderhover"><img src="static/images/thumbs/pop_folio4.jpg" alt="" /></a></li>
                        <li class="clearfix"><a href="#" class="borderhover"><img src="static/images/thumbs/pop_folio5.jpg" alt="" /></a></li>
                        <li class="clearfix"><a href="#" class="borderhover"><img src="static/images/thumbs/pop_folio6.jpg" alt="" /></a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
            
            <div class="widget">
                <h5>Contact Info</h5>
                <div>
                    <a href="#" class="link">Company Location</a><br/>
                    Apex Studios, Cologne City Branch<br/>
                    Mainstreet 123<br/>
                    50600, Cologne, Germany<br/><br/>
                    
                    <a href="#" class="link">How To Contact Us</a><br/>
                    Email: <a href="mailto:your@email.com" class="linkbg">info@yourdomain.com</a><br/>
                    Phone: 800.123.4567<br/><br/>
                    
                    <a href="#" class="link">Office Hours</a><br/>
                    Mondays-Friday: 09:00 - 18:00<br/>
                    Saturday: 10:00 - 15:00
                </div>
            </div>
            
            <div class="widget">
                <h5>Popular Blog Posts</h5>
                <div class="widget_blogposts">
                    <ul>
                        <li class="clearfix">
                            <a href="#" class="borderhover"><img src="static/images/thumbs/pop_blog1.jpg" alt="" /></a>
                            <div class="postlink"><a href="#">Pretty Widgets</a></div>
                            <div class="subline">January 23, 2012</div>
                        </li>
                        <li class="clearfix">
                            <a href="#" class="borderhover"><img src="static/images/thumbs/pop_blog2.jpg" alt="" /></a>
                            <div class="postlink"><a href="#">Convenient Structure</a></div>
                            <div class="subline">January 21, 2012</div>
                        </li>
                        <li class="clearfix">
                            <a href="#" class="borderhover"><img src="static/images/thumbs/pop_blog3.jpg" alt="" /></a>
                            <div class="postlink"><a href="#">Another Blog Post</a></div>
                            <div class="subline">January 17, 2012</div>
                        </li>
                        <li class="clearfix">
                            <a href="#" class="borderhover"><img src="static/images/thumbs/pop_blog4.jpg" alt="" /></a>
                            <div class="postlink"><a href="#">Responsive Layout</a></div>
                            <div class="subline">January 3, 2012</div>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
            
            <div class="clear"></div>
    
        </div>
        
        <!-- Space Adjuster
        ================================================== -->
        
        <div class="sixteen columns bottomadjust"></div>
   
    </div><!-- container -->

{% endblock %}