{% extends 'base.html' %}
{% block content %}
		
        <!-- Slider
		================================================== -->
        
		<div class="sixteen columns row">        
            <div class="flexslider clearfix">
                <ul class="slides">
                    <li><img src="static/images/banner/banner2_wide.jpg" alt="" /><p class="flex-caption">This is a pretty line of caption text.</p></li>
                    <li><img src="static/images/banner/banner1_wide.jpg" alt="" /></li>
                    <li><img src="static/images/banner/banner3_wide.jpg" alt="" /><p class="flex-caption">We hope you enjoy this theme!</p></li>
                </ul>
            </div>
            <div class="sliderspacefix"></div>
		</div>
        
        <!-- Portfolio Teasers
		================================================== -->
        
        <div class="sixteen columns row divide">
        	<h3 class="titledivider">Recent Projects.</h3>
            <div class="rightlink"><a href="#" class="titlelink">&raquo; Optional Link</a></div>
            <div class="dividerline"></div>
        </div>
        
		<div class="sixteen columns row teasers">
        	<div class="four columns alpha teaser">
               <a href="#" data-text="» Visit Project" class="hovering"><img src="static/images/thumbs/home_teaser1.jpg" alt="" class="scale-with-grid" /></a>
               <div class="pluswrap">
                   <a href="#" class="bigplus"></a>
                   <div class="topline"><a href="#">Desktopography</a></div>
                   <div class="subline"><a href="#">Web Design</a></div>
               </div>
            </div>
			<div class="four columns alpha teaser">
               <a href="#" data-text="» Visit Project" class="hovering"><img src="static/images/thumbs/home_teaser1.jpg" alt="" class="scale-with-grid" /></a>
               <div class="pluswrap">
                   <a href="#" class="bigplus"></a>
                   <div class="topline"><a href="#">Desktopography</a></div>
                   <div class="subline"><a href="#">Web Design</a></div>
               </div>
            </div>
            <div class="four columns alpha teaser">
               <a href="#" data-text="» Visit Project" class="hovering"><img src="static/images/thumbs/home_teaser1.jpg" alt="" class="scale-with-grid" /></a>
               <div class="pluswrap">
                   <a href="#" class="bigplus"></a>
                   <div class="topline"><a href="#">Desktopography</a></div>
                   <div class="subline"><a href="#">Web Design</a></div>
               </div>
            </div>
            <div class="four columns alpha teaser">
               <a href="#" data-text="» Visit Project" class="hovering"><img src="static/images/thumbs/home_teaser1.jpg" alt="" class="scale-with-grid" /></a>
               <div class="pluswrap">
                   <a href="#" class="bigplus"></a>
                   <div class="topline"><a href="#">Desktopography</a></div>
                   <div class="subline"><a href="#">Web Design</a></div>
               </div>
            </div>
            
		</div>
        
        <!-- Text Content
		================================================== -->
        
        <div class="sixteen columns row divide">
        	<h3 class="titledivider">The Gist.</h3>
            <div class="rightlink"><a href="#" class="titlelink">&raquo; Optional Link</a></div>
            <div class="dividerline"></div>
        </div>

        <!-- Content Holder -->
		<div class="eleven columns row left">
            
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            
                <ul class="tabs">
                    <li><a class="active" href="#concept">Concept</a></li>
                    <li><a href="#design">Design</a></li>
                    <li><a href="#support">Support</a></li>
                </ul>
                <ul class="tabs-content clearfix">
                    <li class="active clearfix" id="concept">
                        <div class="two_third"><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p></div>
                        <div class="one_third lastcolumn"><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p></div>
                    </li>
                    <li id="design" class="clearfix">
                        <div class="one_third"><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p></div>
                        <div class="two_third lastcolumn"><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p></div>
                    </li>
                    <li id="support" class="clearfix">
                        <div class="one_third">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p> 
                        </div>
                        <div class="one_third">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p> 
                        </div>
                        <div class="one_third lastcolumn">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p> 
                        </div>
                    </li>
                </ul>
                
 				<div class="clear"></div>

        </div>
        
        <!-- Sidebar
        ================================================== -->

        <div class="four columns sidebar offset-by-one">
        
            <div class="widget">
                <h5>Fully Responsive</h5>
                <div>
                	This template has been designed to display in a readable and usable fashion.<br/>
                    <strong><em>Try resizing your browser window!</em></strong>
                </div>
            </div>
            
            <div class="widget">
                <h5>Blog Categories</h5>
                <div>
                    <ul>
                        <li><a href="#">Company News ( 2 )</a></li>
                        <li><a href="#">Announcements ( 4 )</a></li>
                        <li><a href="#">Other ( 1 )</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="clear"></div>
            
        </div>
            
	</div><!-- container -->

{% endblock %}