{% extends 'base.html' %}
{% block content %}
        
        <!-- Portfolio Teasers
		================================================== -->
        
        <div class="sixteen columns row divide notop">
        	<h3 class="titledivider">Full Page Shortcodes.</h3>
            <div class="dividerline"></div>
        </div>
        
        <!-- Content Holder -->
		<div class="sixteen columns row content">
        
        	<!-- Link Style -->
            <h6>Link Styles</h6>
            <div class="one_third">
            	<p>There are various types of link / button shortcodes at your disposal.</p> 
            </div>
            <div class="two_third lastcolumn">
                <p>
                	<a href="#" class="bigcomment" style="margin:10px;"></a>
                    <a href="#" class="bigdoc" style="margin:10px;"></a>
                    <a href="#" class="bigplus" style="margin:10px;"></a>
                    <a href="#" class="link" style="margin:10px;">&raquo; Underlined</a>
                    <a href="#" class="linkbg" style="margin:10px;">Background</a>
                    <a href="#" class="button" style="margin:10px;">&raquo; Button</a>
                </p>
            </div><div class="clear"></div>
        
        	<!-- 1 column -->
            <h6>1/1</h6>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p> 

            <!-- 2 column -->
            <div class="one_half">
            	<h6>1/2</h6>
            	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p> 
            </div>
            <div class="one_half lastcolumn">
            	<h6>1/2</h6>
            	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p> 
            </div><div class="clear"></div>
            
            <!-- 3 column -->
            <div class="one_third">
            	<h6>1/3</h6>
            	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p> 
            </div>
            <div class="one_third">
            	<h6>1/3</h6>
            	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p> 	
            </div>
            <div class="one_third lastcolumn">
            	<h6>1/3</h6>
            	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p> 	
            </div><div class="clear"></div>
        
        	<!-- 4 column -->
        	<div class="one_fourth">
            	<h6>1/4</h6>
            	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p> 
            </div>
            <div class="one_fourth">
            	<h6>1/4</h6>
            	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p> 
            </div>
            <div class="one_fourth">
            	<h6>1/4</h6>
            	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p> 
            </div>
            <div class="one_fourth lastcolumn">
            	<h6>1/4</h6>
            	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p> 
            </div><div class="clear"></div>
            
            <!-- 5 column -->
        	<div class="one_fifth">
            	<h6>1/5</h6>
            	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p> 
            </div>
            <div class="one_fifth">
            	<h6>1/5</h6>
            	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p> 
            </div>
            <div class="one_fifth">
            	<h6>1/5</h6>
            	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p> 
            </div>
            <div class="one_fifth">
            	<h6>1/5</h6>
            	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p> 
            </div>
            <div class="one_fifth lastcolumn">
            	<h6>1/5</h6>
            	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p> 
            </div><div class="clear"></div>
            
            <!-- 6 column -->
        	<div class="one_sixth">
            	<h6>1/6</h6>
            	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p> 
            </div>
            <div class="one_sixth">
            	<h6>1/6</h6>
            	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p> 
            </div>
            <div class="one_sixth">
            	<h6>1/6</h6>
            	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p> 
            </div>
            <div class="one_sixth">
            	<h6>1/6</h6>
            	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p> 
            </div>
            <div class="one_sixth">
            	<h6>1/6</h6>
            	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p> 
            </div>
            <div class="one_sixth lastcolumn">
            	<h6>1/6</h6>
            	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p> 
            </div><div class="clear"></div>
            
            <!-- Content Tabs -->
        	<ul class="tabs">
                <li><a class="active" href="#concept">Concept</a></li>
                <li><a href="#design">Design</a></li>
                <li><a href="#support">Support</a></li>
            </ul>
            <ul class="tabs-content clearfix">
                <li class="active clearfix" id="concept">
                    <div class="two_third"><h6>2/3</h6><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p></div>
                    <div class="one_third lastcolumn"><h6>1/3</h6><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p></div>
                </li>
                <li id="design" class="clearfix">
                    <div class="one_third"><h6>1/3</h6><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p></div>
                    <div class="two_third lastcolumn"><h6>2/3</h6><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p></div>
                </li>
                <li id="support" class="clearfix">
                    <div class="one_third">
                        <h6>1/3</h6>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p> 
                    </div>
                    <div class="one_third">
                        <h6>1/3</h6>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p> 
                    </div>
                    <div class="one_third lastcolumn">
                        <h6>1/3</h6>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p> 
                    </div>
                </li>
            </ul>
            
            <!-- 2 column Videos -->
            <div class="one_half">
            	<h6>Vimeo</h6>
            	<p><div class="scalevid"><iframe src="#video/24243147?title=0&amp;byline=0&amp;portrait=0" width="460" height="259"></iframe></div></p>
            </div>
            <div class="one_half lastcolumn">
            	<h6>Youtube</h6>
            	<p><div class="scalevid"><iframe src="#embed/I_ClNxSST4M?hd=1&amp;wmode=opaque&amp;controls=1&amp;showinfo=0" width="460" height="259"></iframe></div></p> 
            </div><div class="clear"></div>
            
            <!-- Quotes -->
            <div class="one_half">
            	<h6>Blockquote</h6>
            	<blockquote>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </blockquote>
            </div>
            <div class="one_half lastcolumn">
            	<h6>List</h6>
            	<ul class="square">
                    <li>Flexible Layout</li>
                    <li>Compatible with Common Browsers, Smartphones and Tablet Pc's</li>
                    <li>Background Images / Tiles</li>
                    <li>Column or Full-Width Site Style</li>
                </ul>
            </div><div class="clear"></div>
            
		</div>
        
        <!-- Space Adjuster
        ================================================== -->
        
        <div class="sixteen columns bottomadjust"></div>
            
	</div><!-- container -->

{% endblock %}