{% extends "/base.html" %}
{% block content %}
		
        <!-- Slider
		================================================== -->
        
		<div class="sixteen columns row">        
        	<div class="twelve columns alpha">
                <div class="flexslider clearfix">
                    <ul class="slides">
                    {% for banner in banners %}
                    <li>
                        <img src="static/images/banner/{{ banner.pic }}" alt="" />
                        <p class="flex-caption">{{ banner.desc }}</p>
                    </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="four columns omega slidertext">
				<h2>二手蘋果 <br/>保障交易平台.</h2>
                <p>本站提供 台灣銀行代收/代付 服務<br/>
                任何交易未滿意可暫停支付<br/>
				已超過 3972 筆交易在本平台完成.<br/><br/>
                The result is always the same: <em>
                Customer satisfaction and supreme quality!</em></p>
            <a href="#" class="link">&raquo; Read More</a>
            </div>
		</div>
        
        <!-- Portfolio Teasers
		================================================== -->
        
        <div class="sixteen columns row divide">
        	<h3 class="titledivider">物件分類.</h3>
            <div class="rightlink"><a href="#" class="titlelink">&raquo; Portfolio</a></div>
            <div class="dividerline"></div>
        </div>
        
		<div class="sixteen columns row teasers portfolio">
        {% for item in items %}
        	<div class="four columns teaser all-group iphone-group">
                <a href="{{ url_for('trade.category', ctype=item.name) }}" data-text="» 前往子分類" class="hovering">
                <img src="{{url_for('static', filename=item.pic)}}" alt="" class="scale-with-grid" /></a>
                <div class="pluswrap">
                    <!-- <a href="#" class="bigplus"></a> -->
                    <div class="topline"><a href="{{ url_for('trade.category', ctype=item.name) }}">{{item.name}}</a></div>
                    <div class="subline">100 件物品</div>
                </div>
            </div>
        {% endfor %}
			<div class="clear"></div>
		</div><div class="clear"></div>
        
        <!-- News
		================================================== -->
        
        <div class="eight columns row">
            <div class="eight columns divide alpha">
                <h3 class="titledivider">近期完成交易.</h3>
                <div class="rightlink"><a href="#" class="titlelink">&raquo; 更多近期完成交易</a></div>
                <div class="dividerlinehalf"></div>
            </div>
            <div class="eight columns alpha">
            
                <div class="eight columns alpha newsteaser row">
                    <a href="#" class="borderhover"><img src="static/images/traded/traded.jpg" alt="" width="75" height="75" /></a>
                    <div class="topline"><a href="#">MacBook 2016</a></div>
                    <div class="subline">2018/11/23 by 阿貓</div>
                    <div class="newsexcerpt">九成五新，使用三個月，換機出售</div>
                </div>
                
                <div class="eight columns alpha newsteaser row">
                    <a href="#" class="borderhover"><img src="static/images/traded/traded.jpg" alt="" width="75" height="75" /></a>
                    <div class="topline"><a href="#">MacBook 2016</a></div>
                    <div class="subline">2018/11/23 by 阿貓</div>
                    <div class="newsexcerpt">九成五新，使用三個月，換機出售</div>
                </div>
                
                <div class="eight columns alpha newsteaser row">
                    <a href="#" class="borderhover"><img src="static/images/traded/traded.jpg" alt="" width="75" height="75" /></a>
                    <div class="topline"><a href="#">MacBook 2016</a></div>
                    <div class="subline">2018/11/23 by 阿貓</div>
                    <div class="newsexcerpt">九成五新，使用三個月，換機出售</div>
                </div>
                
                <div class="eight columns alpha newsteaser row">
                    <a href="#" class="borderhover"><img src="static/images/traded/traded.jpg" alt="" width="75" height="75" /></a>
                    <div class="topline"><a href="#">MacBook 2016</a></div>
                    <div class="subline">2018/11/23 by 阿貓</div>
                    <div class="newsexcerpt">九成五新，使用三個月，換機出售</div>
                </div>
                
            </div>
		</div>
       <div class="tlinks">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>
        
        <!-- Info Text 
		================================================== -->
        
        <div class="eight columns row">
            <div class="eight columns divide alpha">
                <h3 class="titledivider">最新上架物件.</h3>
                <div class="rightlink"><a href="#" class="titlelink">&raquo; 更多新上架的物品</a></div>
                <div class="dividerlinehalf"></div>
            </div>
            <div class="eight columns alpha">
            
                <div class="eight columns alpha newsteaser row">
                    <a href="#" class="borderhover"><img src="static/images/new/new.jpg" alt="" width="75" height="75" /></a>
                    <div class="topline"><a href="#">Blogpost With Image</a></div>
                    <div class="subline">Jan 23 by Admin</div>
                    <div class="newsexcerpt">Tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua diam nonumy eirmod...</div>
                </div>
                
                <div class="eight columns alpha newsteaser row">
                    <a href="#" class="borderhover"><img src="static/images/new/new.jpg" alt="" width="75" height="75" /></a>
                    <div class="topline"><a href="#">Blogpost With Image</a></div>
                    <div class="subline">Jan 23 by Admin</div>
                    <div class="newsexcerpt">Tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua diam nonumy eirmod...</div>
                </div>

                <div class="eight columns alpha newsteaser row">
                    <a href="#" class="borderhover"><img src="static/images/new/new.jpg" alt="" width="75" height="75" /></a>
                    <div class="topline"><a href="#">Blogpost With Image</a></div>
                    <div class="subline">Jan 23 by Admin</div>
                    <div class="newsexcerpt">Tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua diam nonumy eirmod...</div>
                </div>

                <div class="eight columns alpha newsteaser row">
                    <a href="#" class="borderhover"><img src="static/images/new/new.jpg" alt="" width="75" height="75" /></a>
                    <div class="topline"><a href="#">Blogpost With Image</a></div>
                    <div class="subline">Jan 23 by Admin</div>
                    <div class="newsexcerpt">Tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua diam nonumy eirmod...</div>
                </div>
                
            </div>
		</div> 
		
      <!-- Bottom Padding Adjust
       ================================================== 
       <div class="sixteen columns bottomadjust"></div>--> 
            
	</div><!-- container -->

{% endblock content %}