{% extends 'base.html' %}
{% block content %}
        
        <!-- Portfolio Teasers
		================================================== -->
        
        <div class="sixteen columns row divide notop">
        	<h3 class="titledivider">Our Work.</h3>
            <div class="dividerline"></div>
        </div>
        
        <!-- Content Holder -->
		<div class="eleven columns row content left">
            
            <!-- Portfolio Post-->
            <div class="eleven columns row alpha blogpost">
                <div class="eleven columns alpha blogimage">
                    <div class="flexslider clearfix">
                        <ul class="slides">
                            <li><img src="static/images/blog/portfolio_slide4.jpg" alt="" /></li>
							<li><img src="static/images/blog/portfolio_slide5.jpg" alt="" /></li>
                            <li><img src="static/images/blog/portfolio_slide6.jpg" alt="" /></li>
                        </ul>
                    </div>
                </div>
                <div class="one column row alpha">
                    <div class="blogdate"><div class="day">9</div><span>Feb 2012</span></div>
                </div>
                <div class="nine columns row offset-by-one omega">
                    <div class="blogtitle"><h4><a href="#">Desktopography</a></h4></div>
                    <div class="postinfo"><span class="dateinfo">9 Feb 2012 &nbsp; | &nbsp; </span>in <a href="#">Print Design</a>, <a href="#">Web Design</a> &nbsp; | &nbsp; by Damojo</div>
                    <div class="postcontent">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.<br/><br/><a href="#" class="link">&raquo; Read More</a></div>
                </div>
                <div class="clear"></div>
            </div> 
            
            <!-- Portfolio Post-->
            <div class="eleven columns row alpha blogpost">
                <div class="eleven columns alpha blogimage">
                    <div class="flexslider clearfix">
                        <ul class="slides">
                            <li><img src="static/images/blog/portfolio_slide1.jpg" alt="" /></li>
							<li><img src="static/images/blog/portfolio_slide2.jpg" alt="" /></li>
                            <li><img src="static/images/blog/portfolio_slide3.jpg" alt="" /></li>
                        </ul>
                    </div>
                </div>
                <div class="one column row alpha">
                    <div class="blogdate"><div class="day">7</div><span>Feb 2012</span></div>
                </div>
                <div class="nine columns row offset-by-one omega">
                    <div class="blogtitle"><h4><a href="#">Wurzburg</a></h4></div>
                    <div class="postinfo"><span class="dateinfo">9 Feb 2012 &nbsp; | &nbsp; </span>in <a href="#">Print Design</a>, <a href="#">Web Design</a> &nbsp; | &nbsp; by Damojo</div>
                    <div class="postcontent">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.<br/><br/><a href="#" class="link">&raquo; Read More</a></div>
                </div>
                <div class="clear"></div>
            </div> 
            
            <!-- Portfolio Post-->
            <div class="eleven columns row alpha blogpost">
                <div class="eleven columns alpha blogimage">
                    <div class="flexslider clearfix">
                        <ul class="slides">
                            <li><img src="static/images/blog/portfolio_slide28.jpg" alt="" /></li>
							<li><img src="static/images/blog/portfolio_slide29.jpg" alt="" /></li>
                            <li><img src="static/images/blog/portfolio_slide30.jpg" alt="" /></li>
                        </ul>
                    </div>
                </div>
                <div class="eleven columns row alpha">
                    <div class="blogtitle"><h4><a href="#">Frankfurt No Date</a></h4></div>
                    <div class="postinfo"><span class="dateinfo">9 Feb 2012 &nbsp; | &nbsp; </span>in <a href="#">Print Design</a>, <a href="#">Web Design</a> &nbsp; | &nbsp; by Damojo</div>
                    <div class="postcontent">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.<br/><br/><a href="#" class="link">&raquo; Read More</a></div>
                </div>
                <div class="clear"></div>
            </div> 
            
            <!-- Pagination -->
                    
            <div class="blogpages">
                <ul>
                    <li><a href="#" class="selected">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                </ul>
                <div class="clear"></div>
            </div>
            
            <div class="clear"></div>
		</div>
        
       <!-- Sidebar
        ================================================== -->

        <div class="four columns sidebar offset-by-one content">
            
            <div class="widget">
                <h5>Latest Projects</h5>
                <div class="widget_portfolio">
                    <ul>
                        <li class="clearfix"><a href="#" class="borderhover"><img src="static/images/thumbs/pop_folio1.jpg" alt="" /></a></li>
                        <li class="clearfix"><a href="#" class="borderhover"><img src="static/images/thumbs/pop_folio2.jpg" alt="" /></a></li>
                        <li class="clearfix"><a href="#" class="borderhover"><img src="static/images/thumbs/pop_folio3.jpg" alt="" /></a></li>
                        <li class="clearfix"><a href="#" class="borderhover"><img src="static/images/thumbs/pop_folio4.jpg" alt="" /></a></li>
                        <li class="clearfix"><a href="#" class="borderhover"><img src="static/images/thumbs/pop_folio5.jpg" alt="" /></a></li>
                        <li class="clearfix"><a href="#" class="borderhover"><img src="static/images/thumbs/pop_folio6.jpg" alt="" /></a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
            
            <div class="widget">
            	<h5>Contact Info</h5>
            	<div>
                    <a href="#" class="link">Company Location</a><br/>
                    Apex Studios, Cologne City Branch<br/>
                    Mainstreet 123<br/>
                    50600, Cologne, Germany<br/><br/>
                    
                    <a href="#" class="link">How To Contact Us</a><br/>
                    Email: <a href="mailto:your@email.com" class="linkbg">info@yourdomain.com</a><br/>
                    Phone: 800.123.4567<br/><br/>
                    
                    <a href="#" class="link">Office Hours</a><br/>
                    Mondays-Friday: 09:00 - 18:00<br/>
                    Saturday: 10:00 - 15:00
                </div>
            </div>
 
            <div class="clear"></div>
    
        </div>
   
	</div><!-- container -->

{% endblock %}