{% extends 'base.html' %}
{% block content %}
        
        <!-- Portfolio Teasers
		================================================== -->
        
        <div class="sixteen columns row divide notop">
        	<h3 class="titledivider">Our Work.</h3>
            <div class="dividerline"></div>
        </div>
        
        <div class="sixteen columns row portfolio_filter">
        	<ul>
                <li><a class="portfolio_selector" data-group="all-group" href="#">All Projects</a><span>|</span></li>
                <li><a class="portfolio_selector" data-group="web-group" href="#">Web Design</a><span>|</span></li>
                <li><a class="portfolio_selector" data-group="photoshop-group" href="#">Photoshop</a><span>|</span></li>
                <li><a class="portfolio_selector" data-group="concepts-group" href="#">Concepts</a><span>|</span></li>
                <li><a class="portfolio_selector" data-group="print-group" href="#">Print Design</a></li>
            </ul>
        </div>
        
		<div class="sixteen columns row teasers portfolio">
        
        	<div class="four columns teaser all-group web-group">
               <a href="#" data-text="» Visit Project" class="hovering"><img src="static/images/thumbs/home_teaser1.jpg" alt="" class="scale-with-grid" /></a>
               <div class="pluswrap">
                   <a href="#" class="bigplus"></a>
                   <div class="topline"><a href="#">Desktopography</a></div>
                   <div class="subline">Web Design</div>
               </div>
            </div>
			<div class="four columns teaser all-group photoshop-group">
                <a href="#" data-text="» Visit Project" class="hovering"><img src="static/images/thumbs/home_teaser2.jpg" alt="" class="scale-with-grid" /></a>
                <div class="pluswrap">
                    <a href="#" class="bigplus"></a>
                    <div class="topline"><a href="#">Wurzburg</a></div>
                    <div class="subline">Photoshop</div>
                </div>
            </div>
			<div class="four columns teaser all-group concepts-group">
                <a href="#" data-text="» Visit Project" class="hovering"><img src="static/images/thumbs/home_teaser3.jpg" alt="" class="scale-with-grid" /></a>
                <div class="pluswrap">
                    <a href="#" class="bigplus"></a>
                    <div class="topline"><a href="#">Frankfurt</a></div>
                    <div class="subline">Concepts</div>
                </div>
            </div>
            <div class="four columns teaser all-group print-group">
            	<a href="#" data-text="» Visit Project" class="hovering"><img src="static/images/thumbs/home_teaser4.jpg" alt="" class="scale-with-grid" /></a>
                <div class="pluswrap">
                    <a href="#" class="bigplus"></a>
                    <div class="topline"><a href="#">Amsterdam</a></div>
                    <div class="subline">Print Design</div>
                </div>
            </div>
            <div class="four columns teaser all-group concepts-group">
               <a href="#" data-text="» Visit Project" class="hovering"><img src="static/images/thumbs/home_teaser5.jpg" alt="" class="scale-with-grid" /></a>
               <div class="pluswrap">
                   <a href="#" class="bigplus"></a>
                   <div class="topline"><a href="#">Canberra</a></div>
                   <div class="subline">Concepts</div>
               </div>
            </div>
			<div class="four columns teaser all-group print-group">
                <a href="#" data-text="» Visit Project" class="hovering"><img src="static/images/thumbs/home_teaser6.jpg" alt="" class="scale-with-grid" /></a>
                <div class="pluswrap">
                    <a href="#" class="bigplus"></a>
                    <div class="topline"><a href="#">Townsville</a></div>
                    <div class="subline">Print Design</div>
                </div>
            </div>
			<div class="four columns teaser all-group web-group">
                <a href="#" data-text="» Visit Project" class="hovering"><img src="static/images/thumbs/home_teaser7.jpg" alt="" class="scale-with-grid" /></a>
                <div class="pluswrap">
                    <a href="#" class="bigplus"></a>
                    <div class="topline"><a href="#">Dragon Plane</a></div>
                    <div class="subline">Web Design</div>
                </div>
            </div>
            <div class="four columns teaser all-group photoshop-group">
            	<a href="#" data-text="» Visit Project" class="hovering"><img src="static/images/thumbs/home_teaser8.jpg" alt="" class="scale-with-grid" /></a>
                <div class="pluswrap">
                    <a href="#" class="bigplus"></a>
                    <div class="topline"><a href="#">Nuremberg</a></div>
                    <div class="subline">Photoshop</div>
                </div>
            </div>
            <div class="four columns teaser all-group concepts-group">
                <a href="#" data-text="» Visit Project" class="hovering"><img src="static/images/thumbs/home_teaser9.jpg" alt="" class="scale-with-grid" /></a>
                <div class="pluswrap">
                    <a href="#" class="bigplus"></a>
                    <div class="topline"><a href="#">CBCM</a></div>
                    <div class="subline">Concepts</div>
                </div>
            </div>
            <div class="four columns teaser all-group web-group">
            	<a href="#" data-text="» Visit Project" class="hovering"><img src="static/images/thumbs/home_teaser10.jpg" alt="" class="scale-with-grid" /></a>
                <div class="pluswrap">
                    <a href="#" class="bigplus"></a>
                    <div class="topline"><a href="#">Munich</a></div>
                    <div class="subline">Web Design</div>
                </div>
            </div>
            <div class="four columns teaser all-group web-group">
               <a href="#" data-text="» Visit Project" class="hovering"><img src="static/images/thumbs/home_teaser1.jpg" alt="" class="scale-with-grid" /></a>
               <div class="pluswrap">
                   <a href="#" class="bigplus"></a>
                   <div class="topline"><a href="#">Desktopography</a></div>
                   <div class="subline">Web Design</div>
               </div>
            </div>
			<div class="four columns teaser all-group photoshop-group">
                <a href="#" data-text="» Visit Project" class="hovering"><img src="static/images/thumbs/home_teaser2.jpg" alt="" class="scale-with-grid" /></a>
                <div class="pluswrap">
                    <a href="#" class="bigplus"></a>
                    <div class="topline"><a href="#">Wurzburg</a></div>
                    <div class="subline">Photoshop</div>
                </div>
            </div>
            
		</div>
        
        <!-- Space Adjuster
        ================================================== -->
        
        <div class="sixteen columns bottomadjust"></div>
            
	</div><!-- container -->

{% endblock %}